<div class="container mt-5 mx-auto">
  <div class="card mx-auto p-4">
    <h4 class="text-center mb-5">Customer Register</h4>
    <form [formGroup]="reactiveForm"(ngSubmit)="onRegister()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name" class="p-0 mb-1">Enter Full Name:</label>
            <input
              class="form-control mb-3"
              type="text"
              id="name"
              formControlName="name"
              placeholder="Enter name"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email" class="p-0 mb-1">Enter Email:</label>
            <input
              class="form-control mb-3"
              type="email"
              id="email"
              formControlName="email"
              placeholder="Enter email"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="password" class="p-0 mb-1">Enter Password:</label>
            <input
              class="form-control mb-3"
              type="password"
              id="password"
              formControlName="password"
              placeholder="Enter password"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="password1" class="p-0 mb-1">Confirm Password:</label>
            <input
              class="form-control mb-3"
              type="password"
              id="password1"
              formControlName="confirmPassword"
              placeholder="Confirm password"
            />
          </div>
        </div>
      </div>
      <div class="combine"formGroupName="address">
      <div class="row">
        <label><h5>Address:</h5></label>
        <div class="col-md-6">
          <div class="form-group">
            <label for="street" class="p-0 mb-1">Enter Street1:</label>
            <input
              class="form-control mb-3"
              type="text"
              id="street"
              formControlName="street"
              placeholder="Enter Street"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="street1" class="p-0 mb-1">Enter Street2:</label>
            <input
              class="form-control mb-3"
              type="text"
              id="street1"
              formControlName="addressLine2"
              placeholder="Enter Street"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="city" class="p-0 mb-1">Enter City:</label>
            <input
              class="form-control mb-3"
              type="text"
              id="city"
              formControlName="city"
              placeholder="Enter city"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="state" class="p-0 mb-1">Enter State:</label>
            <input
              class="form-control mb-3"
              type="text"
              id="state"
              formControlName="state"
              placeholder="Enter state"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="pin" class="p-0 mb-1">Enter Pin:</label>
            <input
              class="form-control mb-3"
              type="text"
              id="pin"
              formControlName="pin"
              placeholder="Enter Pin"
            />
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="form-group mt-2">
          <button class="btn btn-primary form-control"[disabled]="!reactiveForm.valid">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
