input.ng-invalid.ng-touched{
    border:2px solid red;
}
.card{
    width:80%;
    /* border: none; */ 
}
@media screen and (min-width:780px) {
    .card{
        width:70%
    }
}
@media screen and (min-width:1000px) {
    .card{
        width:50%
    }
}