.card{
    width:400px
}
.message{
    color:rgb(82, 146, 82);
}
input.ng-invalid.ng-touched{
    border:2px solid red;
}
.eye-icon1{
    top:44px;
    right: 20px;
}
.eye-icon2{
    top:44px;
    right: 20px;
}