<div class="container">
  <div class="row mt-5">
    <div class="card mx-auto shadow">
      <div class="col p-4">
        <h2 class="card-title text-center mb-4">Change Password</h2>
        <div class="card-body">
          <form [formGroup]="reactiveForm" (ngSubmit)="onChange()">
            <div class="form-group row">
              <label for="password1" class="p-0 mb-2">Old Password:</label>
              <input
                class="form-control mb-3"
                type="password"
                formControlName="password1"
                id="password1"
                placeholder="Enter password"
              />
            </div>
            <div class="form-group row position-relative">
              <label for="password2" class="p-0 mb-2">New Password:</label>
              <input
                class="form-control mb-3"
                type="{{typeOfElement1}}"
                formControlName="password2"
                id="password2"
                placeholder="Enter password"
                
              />
              <span
                ><i *ngIf="eyeStatus1"
                  class="eye-icon1 fa-sharp fa-solid fa-eye-slash position-absolute"
                  (click)="onShowHideEye1()"
                ></i
              >
              <i *ngIf="!eyeStatus1"
              (click)="onShowHideEye1()"
              class=" eye-icon1 position-absolute fa-sharp fa-solid fa-eye"></i></span>
            </div>
            <div class="form-group row position-relative">
              <label for="password3" class="p-0 mb-2">Confirm Password:</label>
              <input
                class="form-control mb-3"
                type="{{typeOfElement2}}"
                formControlName="password3"
                id="password3"
                placeholder="Enter password"
              />
              <span
                ><i *ngIf="eyeStatus2"
                  class="eye-icon2 fa-sharp fa-solid fa-eye-slash position-absolute"
                  (click)="onShowHideEye2()"
                ></i
              >
              <i *ngIf="!eyeStatus2"
              (click)="onShowHideEye2()"
              class=" eye-icon2 position-absolute fa-sharp fa-solid fa-eye"></i>
            </span>
            </div>
            <div class="form-group my-3 row">
              <button class="btn btn-primary" [disabled]="!reactiveForm.valid">
                Change
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
