<div class="container">
    <div class="row mt-5">
        <div class="card mx-auto shadow">
            <div class="col mt-4">
                <h2 class="card-title text-center">Update Company Name</h2>
                <div class="card-body">
                    <form [formGroup]="reactiveForm">
                        <div class="form-group mb-4">
                            <label for="text">Company Name:</label>
                            <input type="text"formControlName="cName" class="form-control">
                        </div>
                        <div class="form-group mt-3">
                            <button type="button" class="btn btn-secondary form-control"(click)="onChangesUserDetails()">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>