<div class="container">
    <div class="row mt-5">
      <div class="card mx-auto shadow">
        <div class="col p-4">
          <h2 class="card-title text-center mb-4">Reset Password</h2>
            <div class="card-body">
              <form [formGroup]="reactiveForm"(ngSubmit)="onReset()">
                <div class="form-group row">
                    <label for="password" class="p-0 mb-2">Enter Password:</label>
                    <input
                      class="form-control mb-3"
                      type="password"
                      formControlName="password"
                      id="password"
                      placeholder="Enter password"
                    />
                  </div>
                <div class="form-group my-3 row">
                  <button class="btn btn-primary"[disabled]="!reactiveForm.valid">Reset</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  